$company-red-color: #eb1c23;
$company-white-color: #fff;
$company-black-color: #000;
$company-gray-color: #414141;
$company-dark-gray-color: #333333;

$company-primary-color: $company-red-color;
$company-primary-text-color: #535558;
$company-secondary-text-color: $company-gray-color;
$company-background-color: #f4f4f4;