@import "~assets/stylesheets/fonts.scss";
@import "~assets/stylesheets/mediaBreakpoints";
@import "~assets/mixins/breakpoints";

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

.page {
    display: flex;
    flex-direction: column;

    height: 100vh;
    min-width: $global-min-width;

    font-size: 1em;
    font-family: $font-family-main;

    &__content {
        flex: 1 0 auto;
        width: calc(100vw - 34px);

        @include media-query-less($handhelds) {
            width: 100%; 
        }
    }
}